.widget {
	width: 100%;
	padding: 10px 20px;
	display: flex;
	flex-flow: column nowrap;
	background-color: #6ca3ff;
	color: #fff;

	&Row {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}

		&_weatherInfo {
			align-items: flex-end;
		}

		&Item {
			flex: 0 0 auto;
		}
	}

	&Icon {
		width: 40px;
		height: 40px;
	}

	&Descr {
		font-size: 12px;
	}

	&Place {
		display: flex;
		flex-flow: column nowrap;
		align-content: flex-end;

		&Item {
			margin-bottom: 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&City {
		font-size: 16px;
		line-height: 1;
	}

	&Country {
		font-size: 12px;
	}

	&Temperature {
		font-size: 30px;
		line-height: 1;
	}
}