.search {
    width: 100%;
    padding: 12px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 1;

    &:focus {
        outline: none;
        box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.25);
    }
}


.dropdown {
    width: 100%;
    position: relative;

    &Input {
        width: 100%;

        input {
            border-radius: 5px;

            .dropdown_open & {
                border-radius: 5px 5px 0 0;
                border-bottom: none;
            }
        }
    }

    &List {
        position: absolute;
        top: 100%;
        width: 100%;
        list-style: none;
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
        
        &Item {
            padding: 10px; 
            color: #333;
            border: 1px solid #ccc;
            border-top: none;
            transition: all .2s;

            &:hover {
                background-color: #428bca;
                color: #fff;
                border-color: #428bca;
            }
        }

        &Link, &Link:hover, &Link:active {
            display: block;
            text-decoration: none;
            color: inherit;
        }
    }
}