.root {
    padding: 12px;

    &WrappingLink, &WrappingLink:hover, &WrappingLink:active {
        display: block;
        text-decoration: none;
    }

    &Item {
        margin-bottom: 12px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}
